<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import panda urdf file -->
    <xacro:include filename="$(find moveit_resources_panda_description)/urdf/panda.urdf" />

    <xacro:include filename="$(find panda_robot)/urdf/camera.urdf.xacro"/>
    <xacro:kinect_camera parent_link="panda_hand" cam_op="3.1415"/>
    <!-- overhead position -->
    <!-- <xacro:kinect_camera parent_link="panda_link0" cam_px="0.5" cam_pz="0.7" cam_op="4.71219632679"/> -->


    <!-- Import control_xacro -->
    <xacro:include filename="panda.ros2_control.xacro" />


    <xacro:panda_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>